body {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	background-color: #0D174B
}

.container {
  width: 100%;
  max-width: 1800px;
  padding: 15px 0;
  margin: 0 auto;
}

.container:after, .row:after {
  content: "";
  display: table;
  clear: both;
}

nav {
	float: right;
	display: flex;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

#first_line {
	border: none;
	color: #4331a8;
	background-color: #4331a8;
	height: 1px;
	width: 100%;
	margin-top: 30px;
	max-width: 1800px;
}

#first_line3 {
	border: none;
	color: #4331a8;
	background-color: #4331a8;
	height: 1px;
	width: 100%;
	margin-bottom: 50px;
	max-width: 1800px;
}


nav li a{
	color: #cdcccf;
	font-weight: 900;
	font-size: 13px;
	padding-right: 35px;
}

.phone_number a{
	color: #d9534f;
	font-weight: 900;
	font-size: 13px;
}

nav li a:hover{
	color: #cdcccf;
	text-decoration: none;
}

#menu_list {
	position: relative;
} 

.menu_drop {
	position: absolute;
	opacity: 0;
	transition: 0.5s opacity;
	display: block;
}

#menu_list:hover .menu_drop {
	opacity: 1;
}

.menu_list:hover .menu_drop {
	opacity: 1;
}

.btn {
	font-weight: 900;
	font-size: 14px;
	float: right;
	text-align: center;
	color: #fff;
	border-radius: 25px;
	width: 200px;
	padding: 10px 0;
	display: block;
	text-transform: uppercase;
	margin-right: 25px;
}


.btn1 {
	font-weight: 900;
	font-size: 14px;
	text-align: center;
	color: #fff;
	border-radius: 25px;
	width: 200px;
	padding: 10px 0;
	display: block;
	text-transform: uppercase;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
}

.nav li {
	display: inline-block;
}

.nav li a{
	color: #cdcccf;
	font-weight: 900;
	font-size: 13px;
	padding-right: 35px;
}

.nav li a:hover{
	color: #cdcccf;
	text-decoration: none;
}

.nav {
	float: right;
	display: flex;
}

.nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

#first_text {
	color: #fff;
	text-transform: uppercase;
}

#second_text {
	color: #cdcccf;
	font-size: 15px;
}


#img1 {
	width: 600px;
	height: 600px;
	float: left;
}

.upper_row {
	margin-top: 100px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: minmax(100px, auto);
	justify-items: center;
}

.up_row {
	margin-top: 100px;
	display: grid;
	grid-template-columns: 1fr 3fr;
}


.main1 {
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	margin-left: 20px;

}

.main1:hover {
	color: #fff;
	text-decoration: none;

}

.main2 {
	font-size: 15px;
	color: #cdcccf;
	margin-top: 20px;

}

.main_content {
	margin-top: 50px;
}

.main_content2 {
	margin-top: 50px;
}

#main_line {
	width: 60%;
	border: none;
	height: 1px;
	background-color: #4331a8;
	color: #4331a8;
	margin-top: 20px;
	float: left;
	margin-left: 3%;
}

#main_line1 {
	width: 45%;
	border: none;
	height: 1px;
	background-color: #4331a8;
	color: #4331a8;
	margin-top: 70px;
	float: left;
	margin-left: 10%;
}

#title1 {
	color: black;
	text-transform: uppercase;;
	text-align: center;
	font-size: 25px;
}

#title2 {
	color: #a5a2b3;
	text-align: center;
	font-size: 15px;
}

.lower_row {
	background-color: #fff;
	display: grid;
	margin-top: 200px;
	grid-template-columns: 1fr;
	grid-auto-rows: minmax(100px, auto);
	align-items: center;
}

.low_row {
	background-color: #fff;
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: minmax(100px, auto);
}

.lower {
	display: grid;
	grid-template-columns: 6fr 1fr;
	grid-auto-rows: minmax(100px, auto);
}


.col-1-5 {
	width: 18%;
}

.menu_item_3  {
	color: #fff;
	font-size: 20px;
	margin-bottom: 10px;
	text-decoration: none;
}

.menu_item_3 a  {
	color: #fff;
	text-transform: uppercase;
	white-space: nowrap;
}

.menu_item3 a  {
	color: #cdcccf;
}


.menu_item_3 a:hover  {
	color: #fff;
	text-decoration: none;
}

.menu_item3 a:hover  {
	color: #cdcccf;
	text-decoration: none;
}

.menu_item3 {
	color: #cdcccf;
	font-size: 15px;
	margin-top: 5px;
	text-decoration: none;
	white-space: nowrap;
}

 li {
    list-style-type: none;
   }

.menu3 {
	margin-left: -20%;
}


footer {
	max-width: 1800px;
	width: 100%;
	margin-top: 200px;
}



form.catalin{
  width: 80%;
  margin: 50px auto;
  overflow: hidden;
  padding: 10px;
  background-color: #0D174B;
  border-radius: 8px;
  border: 1px solid #fff;
  box-shadow: 0 0 8px rgba(0,0,0,.3) inset;
}
  form.catalin input{
    float: left;
    border: none;
    padding: 2px 2px 2px 2px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 26px;
    width: 70%;
    margin: 0;
    background-color: #0D174B;
    -webkit-appearance: none;
    outline: none;
    box-shadow: 0 0 1px rgba(0,0,0,.3);
    border-radius: 3px 0 0 3px;
  }
  form.catalin button{
    float: left;
    border: none;
    background-color: #d9534f;
    padding: 0;
    margin: 0;
    width: 30%;
    height: 26px;
    font: bold 12px/30px Arial, Helvetica, sans-serif;
    position: relative;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(255,255,255,.5);
    border-radius: 0 3px 3px 0;
    text-transform: uppercase;
    text-align: center;
  }
    form.catalin button:hover{
      background-color: #d9534f;
    }
  form.catalin button:before{
    content: '';
    position: absolute;
    top: 8px;
    left: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #d9534f;
  }
    form.catalin button:hover:before{
      border-right-color: #d9534f;
      text-shadow: 1px 1px 1px rgba(255,255,255,.6);
    }

/* Placeholder
-----------------------------------------------------*/
  form.catalin input::-webkit-input-placeholder {
     color: #999;
     font-weight: normal;
     font-style: italic;
  }
   
  form.catalin input:-moz-placeholder {
      color: #999;
      font-weight: normal;
      font-style: italic;
  }
   
  form.catalin input:-ms-input-placeholder {
      color: #999;
      font-weight: normal;
      font-style: italic;
  }

  #first_line1 {
  	width: 1790px;
  	border: none;
	color: #4331a8;
	background-color: #4331a8;
	height: 1px;
  }

.stay {
	margin-top: 50px;
	margin-left: 30px
	color: #fff;
	text-transform: uppercase;
}

#sub {
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
}

.row {
	width: 100%;
	max-width: 1800px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-auto-rows: minmax(0px, auto);
	margin-top: 50px;
}

.menu_item_4  {
	color: #fff;
	font-size: 20px;
	margin-top: -10px;
	text-decoration: none;
	float: left;
	margin-right: 1%;
}

.menu_item_4 a  {
	color: #fff;
	text-transform: uppercase;
	display: inline-block;
}

.menu_item4 img  {
	color: #cdcccf;
	width: 30px;
	height: 30px;
	display: inline-block;
}

.menu_item4 a  {
	display: inline-block;

}

.menu_item4 {
	color: #cdcccf;
	font-size: 15px;
	margin-top: -10px;
	text-decoration: none;
	float: left;
	margin-right: 1%;
}

.menu_list a {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	float: center;
}

.menu7 {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 35px;
	border-radius: 8px;
	height: 30px;
	text-align: center;

}

.nav1 {
	max-width: 1800px;
	width: 100%;
}



.nav1 li a{
	color: #cdcccf;
	font-weight: 900;
	font-size: 15px;
	display: inline-block;
}

.nav1 li a:hover{
	color: #cdcccf;
	text-decoration: none;
}


.nav2 {
	margin-top: -40px;
}

.red_text {
	color: #d9534f;
}

img {
	width: 50px;
	height: 50px;
}

.btn2 {
	font-weight: 900;
	font-size: 14px;
	text-align: center;
	color: #fff;
	border-radius: 25px;
	width: 200px;
	padding: 10px 0;
	display: block;
	margin-top: 130px;
	text-transform: uppercase;
}

#first_text2 {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 100px;
}

#second_text2 {
	color: #cdcccf;
	font-size: 15px;
	margin-top: 20px;
	text-align: center;
}

.partners h1 {
	padding-top: 200px;
}

.partners h2 {
	padding-top: 20px;
}

.partners {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: minmax(100px, auto);
}

.nav1 ul {
    text-align: center;
    list-style: none;
}

.nav1 li {
    display: inline-block;
}

#second_text3 {
	color: #cdcccf;
	font-size: 15px;
	margin-top: 320px;
}
.nav3 {
	margin-top: 20px;
}

.nav3 li {
	display: inline-block;
	float: left;
}

.scrollmenu {
  background-color: #0D174B;
  overflow: auto;
  white-space: nowrap;
  margin-top: 0px;
  height: 380px;
}

.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  margin-right: 50px;
  width: 300px;
  height: 300px;
  background-color: #32a4a8;
}

.block1 {
	width: 300px;
  	height: 300px; 
}

.block1 h1 {
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 50px;
	margin-left: 20px;
	text-align: left;
}

.block1 h2 {
	font-size: 10px;
	margin-left: 20px;
	margin-top: 30px;
	text-align: left;
	
}

.block2 h1 {
	font-size: 20px;
	text-transform: uppercase;
	margin-left: 20px;
	text-align: left;
	margin-top: 50px;
}

.block2 h2 {
	font-size: 10px;
	margin-left: 20px;
	margin-top: 30px;
	text-align: left;
	
}

.block3 h1 {
	font-size: 20px;
	text-transform: uppercase;
	margin-left: 20px;
	text-align: left;
	margin-top: 50px;
}

.block3 h2 {
	font-size: 10px;
	margin-left: 20px;
	margin-top: 30px;
	text-align: left;
	
}

.block4 h1 {
	font-size: 20px;
	text-transform: uppercase;
	margin-left: 20px;
	text-align: left;
	margin-top: 50px;
}

.block4 h2 {
	font-size: 10px;
	margin-left: 20px;
	margin-top: 30px;
	text-align: left;
	
}

.block5 h1 {
	font-size: 20px;
	text-transform: uppercase;
	margin-left: 20px;
	text-align: left;
	margin-top: 50px;
}

.block5 h2 {
	font-size: 10px;
	margin-left: 20px;
	margin-top: 30px;
	text-align: left;
	
}

.block2 {
	width: 300px;
  	height: 300px;
}

.block3 {
	width: 300px;
  	height: 300px;
}

.block4 {
	width: 300px;
  	height: 300px;
}

.block5 {
	width: 300px;
  	height: 300px;
}

.scrollmenu a:hover {
  background-color: #d9534f;
}

.btn4 {
	font-weight: 70;
	font-size: 10px;
	text-align: center;
	color: #fff;
	border-radius: 25px;
	width: 100px;
	padding: 10px 0;
	display: block;
	margin-left: 10px;
	margin-top: 40px;
	border: 1px solid #fff;
	text-transform: uppercase;
	background-color: #32a4a8;
}

