body {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	background-color: #0D174B
}

.header {
	max-width: 1798px;
}

.containre {
	max-width: 1798px;
}



.nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: left;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

.menu {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 15px;
	margin-left: 980px;

}

.menu2 {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 15px;
	margin-left: 640px;
	margin-top: 20px;

}

.menu_item {
	margin-right: 35px;

}

.menu_item2 {
	margin-right: 50px;

}

a {
	text-decoration: none;
	white-space: nowrap;
}

#first_line {
	border: none;
	color: #4331a8;
	background-color: #4331a8;
	height: 1px;
	max-width: 1798px ;
}



.menu_item a {
	color: #cdcccf;
	font-weight: 900;
	font-size: 13px;
}

.menu_item2 a {
	color: #fff;
	font-weight: 900;
	font-size: 13px;
}

.menu_number a{
	font-size: 15px;
	font-weight: 900;
	color:#c43100;
	margin-right: 35px;
}

.menu_item a:hover {
	color: #cdcccf;
	font-weight: 900;
	font-size: 13px;
	text-decoration: none;
}

.menu_item2 a:hover {
	color: #fff;
	font-weight: 900;
	font-size: 13px;
	text-decoration: none;
}

.menu_number a:hover {
	font-size: 15px;
	font-weight: 900;
	color:#c43100;
	text-decoration: none;
}

.btn {
	font-weight: 900;
	font-size: 14px;
	text-align: center;
	color: #fff;
	border-radius: 25px;
	width: 200px;
	padding: 10px 0;
	display: block;
	margin-left: 1220px;
	margin-top: -30px;
	text-transform: uppercase;
}

#second_line {
	border: none;
	color: #7c65fc;
	background-color: #7c65fc;
	height: 1px;
	width: 1850px;
	margin-left: -400px;
}

#first_text {
	color: #fff;
	text-transform: uppercase;
	margin-top: 100px;
	margin-left: 1100px;
}

#second_text {
	color: #cdcccf;
	font-size: 15px;
	margin-top: 20px;
	margin-left: 1100px;
}

.main_content {
	width: 380px;
	margin-left: 1100px;
	margin-top: -650px;
}

img {
	width: 50px;
	height: 50px;
}

.main1 {
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	margin-left: 20px;
	margin-top: -40px;
	text-decoration: none;

}

.main1:hover {
	color: #fff;
	text-decoration: none;

}

.main2 {
	font-size: 15px;
	color: #cdcccf;
	margin-left: 70px;
	margin-top: 20px;

}

.main_content2 {
	width: 600px;
	margin-left: 1100px;
	margin-top: 90px;
}

#main_line {
	width: 270px;
	border: none;
	height: 1px;
	background-color: #4331a8;
	margin-left: 90px;
	color: #4331a8;
	margin-top: 30px;

}

.main_content3 {
	background-color: #fff;
	height: 300px;

}

#title1 {
	color: black;
	text-transform: uppercase;;
	text-align: center;
	font-size: 25px;
	margin-top: 50px;
}

#title2 {
	color: #a5a2b3;
	text-align: center;
	font-size: 15px;
	margin-top: 10px;
}

.btn1 {
	font-weight: 900;
	font-size: 14px;
	text-align: center;
	color: #fff;
	border-radius: 25px;
	width: 200px;
	padding: 10px 0;
	display: block;
	margin-left: 800px;
	margin-top: 30px;
	text-transform: uppercase;
}

.btn2 {
	font-weight: 900;
	font-size: 14px;
	text-align: center;
	color: #fff;
	border-radius: 25px;
	width: 200px;
	padding: 10px 0;
	display: block;
	margin-left: 10px;
	margin-top: 70px;
	text-transform: uppercase;
}



.menu3 {
	margin-top: 50px;
	margin-left: 30px
}

.menu_item_3  {
	color: #fff;
	font-size: 20px;
	margin-bottom: 10px;
	text-decoration: none;
}

.menu_item_3 a  {
	color: #fff;
	text-transform: uppercase;
}

.menu_item3 a  {
	color: #cdcccf;
}


.menu_item_3 a:hover  {
	color: #fff;
	text-decoration: none;
}

.menu_item3 a:hover  {
	color: #cdcccf;
	text-decoration: none;
}

.menu_item3 {
	color: #cdcccf;
	font-size: 15px;
	margin-top: 5px;
	text-decoration: none;
}

.nav2 {
	margin-left: 300px;
	margin-top: -220px;
}

.nav3 {
	margin-left: 610px;
	margin-top: -195px;
}

.nav4 {
	margin-left: 860px;
	margin-top: -170px;
}

.nav5 {
	margin-left: 1120px;
	margin-top: -140px;
}

#sub {
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
}

form.catalin{
  width: 210px;
  margin: 50px auto;
  overflow: hidden;
  padding: 10px;
  background-color: #0D174B;
  border-radius: 8px;
  border: 1px solid #fff;
  box-shadow: 0 0 8px rgba(0,0,0,.3) inset;
}
  form.catalin input{
    float: left;
    border: none;
    padding: 2px 10px 2px 4px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 26px;
    width: 106px;
    margin: 0;
    background-color: #0D174B;
    -webkit-appearance: none;
    outline: none;
    box-shadow: 0 0 1px rgba(0,0,0,.3);
    border-radius: 3px 0 0 3px;
  }
  form.catalin button{
    float: left;
    border: none;
    background-color: #d9534f;
    padding: 0;
    margin: 0;
    width: 70px;
    height: 26px;
    font: bold 12px/30px Arial, Helvetica, sans-serif;
    position: relative;
    cursor: pointer;
    text-shadow: 1px 1px 1px rgba(255,255,255,.5);
    border-radius: 0 3px 3px 0;
    text-transform: uppercase;
    text-align: center;
  }
    form.catalin button:hover{
      background-color: #d9534f;
    }
  form.catalin button:before{
    content: '';
    position: absolute;
    top: 8px;
    left: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #d9534f;
  }
    form.catalin button:hover:before{
      border-right-color: #d9534f;
      text-shadow: 1px 1px 1px rgba(255,255,255,.6);
    }

/* Placeholder
-----------------------------------------------------*/
  form.catalin input::-webkit-input-placeholder {
     color: #999;
     font-weight: normal;
     font-style: italic;
  }
   
  form.catalin input:-moz-placeholder {
      color: #999;
      font-weight: normal;
      font-style: italic;
  }
   
  form.catalin input:-ms-input-placeholder {
      color: #999;
      font-weight: normal;
      font-style: italic;
  }

  #first_line1 {
  	width: 1790px;
  	border: none;
	color: #4331a8;
	background-color: #4331a8;
	height: 1px;
  }

.stay {
	margin-top: 50px;
	margin-left: 30px
	color: #fff;
	text-transform: uppercase;
}

.menu4 {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 15px;
	margin-left: 30px;
}

.nav6 {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: left;
}

.menu_item_4  {
	color: #fff;
	font-size: 20px;
	margin-right: 40px;
	margin-top: -10px;
	text-decoration: none;
}

.menu_item_4 a  {
	color: #fff;
	text-transform: uppercase;
}

.menu_item4 img  {
	color: #cdcccf;
	width: 30px;
	height: 30px;
}

.menu_item4 {
	color: #cdcccf;
	font-size: 15px;
	margin-right: 40px;
	margin-top: -10px;
	text-decoration: none;
}

.form {
	margin-left: 1120px;
	margin-top: -80px;
}


#menu_list {
	position: relative;
} 

.menu__drop {
	position: absolute;
	opacity: 0;
	transition: 0.5s opacity;
}

#menu_list:hover .menu__drop {
	opacity: 1;
}

.menu_list:hover .menu__drop {
	opacity: 1;
}


.nav7 {
	margin-left: 770px;
	margin-top: -40px;
}



.menu7 {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 15px;
	margin-left: 840px;
	margin-top: 20px;
	margin-left: 700px;
	width: 200px;
	border: 1px solid #fff;
	border-radius: 8px;
	height: 30px;

}

.menu_list a {
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #999;
	text-decoration: none;
	font-size: 15px;
}

.menu__drop a {
	margin-top: 10px;
	color: #fff;
}

.main_img {
	width: 600px;
	height: 600px;
	margin-left: 200px;
	margin-top: 100px;
}


#img1 {
	width: 600px;
	height: 600px;
	margin-top: -180px;
}


#img2 {
	width: 600px;
	height: 600px;
	margin-top: -260px;
}

#main_line1 {
	margin-left: 800px;
	width: 470px;
	border: none;
	height: 1px;
	background-color: #4331a8;
	margin-left: 90px;
	color: #4331a8;
	margin-top: 60px;
}

#first_text1 {
	color: #fff;
	text-transform: uppercase;
	margin-top: 300px;
	text-align: center;
}

#second_text1 {
	color: #cdcccf;
	font-size: 15px;
	margin-top: 20px;
	text-align: center;
	margin-bottom: 100px;
}

.red_text {
	color: #d9534f;
}

.main__content h1 {
	margin-top: 100px;
	padding-top: 80px;
}

.main_content_3 h1 {
	padding-top: 30px;
}

#first_text2 {
	color: #fff;
	text-transform: uppercase;
	margin-top: 150px;
	margin-left: 100px;
}

#second_text2 {
	color: #cdcccf;
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 100px;
	margin-left: 100px;
}


#second_text3 {
	color: #cdcccf;
	font-size: 15px;
	margin-top: 320px;
	margin-bottom: 100px;
	margin-left: 50px;
}

#img3 {
	width: 800px;
	height: 800px;
	margin-top: -750px;
	margin-left: 600px
}

.nav8 {
	margin-left: -590px;
	margin-top: -30px;
}

.hover1 {
	margin-top: -400px;
}

.hover3 {
	margin-top: 200px;
}

.hover4 {
	margin-top: 300px;
}


#first_text4 {
	color: #fff;
	text-transform: uppercase;
	margin-top: 100px;
	margin-left: 100px;
}

#second_text4 {
	color: #cdcccf;
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 100px;
	margin-left: 100px;
}

.main_content4 {
	margin-left: 100px;
	margin-top: 100px;
}

.main_content5 {
	margin-left: 100px;
	margin-top: -600px;
}


#img4 {
	width: 800px;
	height: 800px;
	margin-top: -250px;
	margin-left: 600px
}

.scrollmenu {
  background-color: #0D174B;
  overflow: auto;
  white-space: nowrap;
  width: 1180px;
  margin-left: 600px;
  margin-top: 0px;
  height: 380px;
}

.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  margin-right: 50px;
  width: 300px;
  height: 300px;
  background-color: #32a4a8;
}

.block1 {
	width: 300px;
  	height: 300px; 
}

.block1 h1 {
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 50px;
	margin-left: 20px;
	text-align: left;
}

.block1 h2 {
	font-size: 10px;
	margin-left: 20px;
	margin-top: 30px;
	text-align: left;
	
}

.block2 h1 {
	font-size: 20px;
	text-transform: uppercase;
	margin-left: 20px;
	text-align: left;
	margin-top: 50px;
}

.block2 h2 {
	font-size: 10px;
	margin-left: 20px;
	margin-top: 30px;
	text-align: left;
	
}

.block3 h1 {
	font-size: 20px;
	text-transform: uppercase;
	margin-left: 20px;
	text-align: left;
	margin-top: 50px;
}

.block3 h2 {
	font-size: 10px;
	margin-left: 20px;
	margin-top: 30px;
	text-align: left;
	
}

.block4 h1 {
	font-size: 20px;
	text-transform: uppercase;
	margin-left: 20px;
	text-align: left;
	margin-top: 50px;
}

.block4 h2 {
	font-size: 10px;
	margin-left: 20px;
	margin-top: 30px;
	text-align: left;
	
}

.block5 h1 {
	font-size: 20px;
	text-transform: uppercase;
	margin-left: 20px;
	text-align: left;
	margin-top: 50px;
}

.block5 h2 {
	font-size: 10px;
	margin-left: 20px;
	margin-top: 30px;
	text-align: left;
	
}

.block2 {
	width: 300px;
  	height: 300px;
}

.block3 {
	width: 300px;
  	height: 300px;
}

.block4 {
	width: 300px;
  	height: 300px;
}

.block5 {
	width: 300px;
  	height: 300px;
}

.scrollmenu a:hover {
  background-color: #777;
}

.btn4 {
	font-weight: 70;
	font-size: 10px;
	text-align: center;
	color: #fff;
	border-radius: 25px;
	width: 100px;
	padding: 10px 0;
	display: block;
	margin-left: 10px;
	margin-top: 40px;
	border: 1px solid #fff;
	text-transform: uppercase;
	background-color: #32a4a8;
}